/**
 * This file will contain the CSS style for all the pages of the Wiki.
 */
#app {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-image: url('@/assets/BG1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/**
 * Div
 */
table {
    border-collapse: collapse;  
    width:100%;
    margin-bottom: 10px;
}

thead, tbody, td, tr, th{
    border:1px;
    border: solid;
    border-collapse: collapse;
    border-color:rgba(61, 61, 61, 0.4);
}

th, td {
    padding:5px
}

td:last-child{
    text-align: center;
}

h1,h2{
    margin-bottom:3px;
    margin-top:2px
}

h3,h4{
    margin-bottom: 3px;
    margin-top: 7px;
}

details {
    padding:10px;
    border: solid rgba(61,61,61, 0.4) 1px;
    border-radius : 10px
}

summary {
    cursor: pointer;
}

ul{
    margin-bottom: 16px;
}

/**
 * ID
 */
#topBar {
    margin-top: 4%;
}

#mainPage {
    margin: 25px;
    border-radius: 4px;
}

#pageContent {
    padding: 30px;
}

#sidePanel{
    margin-left: 5px;
}
    #SidePanelTitle{
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        font-size: 1.25rem;
        font-weight: 500;
        letter-spacing: 0.0125em;
        line-height: 2rem;
        word-break: break-all;
        justify-content: center;
    }

    #sidePanelContent{
        padding:15px
    }

/**
 * Classes
 */
.v-main {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      );
}

.content-l1 {
    padding-left: 0px;
}

.content-l2 {
    padding-left: 16px;
}

.content-l3 {
    padding-left: 32px;
}

.content-l4 {
    padding-left: 48px;
}

.content-l5 {
    padding-left: 64px;
}