/**
 * This file will contain the CSS style for all the pages of the Wiki.
 */
#app {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-image: url('@/assets/BG1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.v-main {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      );
}

#topBar {
    margin-top: 4%;
}

#mainPage {
    margin: 25px;
    border-radius: 4px;
}

#pageContent {
    padding: 30px;
}

.content-l1 {
    padding-left: 0px;
}

.content-l2 {
    padding-left: 16px;
}

.content-l3 {
    padding-left: 32px;
}

.content-l4 {
    padding-left: 48px;
}

.content-l5 {
    padding-left: 64px;
}

summary {
    cursor: pointer;
}